name: Build Aggr Trade Image

on:
  workflow_dispatch:
  push:
    paths:
      - "anthonybauld-aggr-trade/**"
      - ".github/workflows/build-aggr-trade.yml"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./aggr
          file: ./aggr/docker/Dockerfile
          push: true
          tags: |
            ghcr.io/anthonybauld/anthonybauld-aggr-trade:3.8.3
            ghcr.io/anthonybauld/anthonybauld-aggr-trade:latest
